<h1>All Previous Winners and Runner-ups</h1>

<% @artists.each do |artist| %>
    <li>
        <img src="<%= artist.photo_url%>">
        <a href="<%=artist.profile_url %>">
            <%=artist.name %>
        </a>
        <%=artist.season%>  <%=artist.placed%>

    <% end %>