<h2>Editing <%=@pet.name%></h2>
<form action="/pets/<%=@pet.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <div class="pet_information">
    <div>
        <label for="age">Age: </label>
        <input type="text" name="pet[age]" id="age" value= "<%=@pet.age%>">
    </div>
    <div>
        <label for="type">Type: </label>
        <select id="type" name="pet[type]" required value= "<%=@pet.type%>">
            <option value="Bird">Bird</option>
            <option value="Cat">Cat</option>
            <option value="Dog">Dog</option>
            <option value="Other">Other</option>
            <option value="Reptile">Reptile</option>
            <option value="SmallPet">Small Pet</option>
        </select>
    </div>
    <div>
        <label for="breed">Breed: </label>
        <input type="text" name="pet[breed]" id="breed"  value= "<%=@pet.breed%>">
    </div>
    <div>
        <label for="gender">Gender: </label>
        <input type="text" name="pet[gender]" id="gender" value= "<%=@pet.breed%>">
    </div>
    <div>
        <label for="neutered_spayed">Spayed/Neutered?: </label>
        <input type="checkbox" name="pet[neutered_spayed]" id="neutered_spayed" value= "<%=@pet.neutered_spayed%>">
    </div>
    <div>
        <label for="weight">Weight: </label>
        <input type="text" name="pet[weight]" id="weight" value= "<%=@pet.weight%>" required>
    </div>
    <div>
        <label for="medical_conditions">Medical Conditions: </label>
        <textarea name="pet[medical_conditions]" id="medical_conditions" value= "<%=@pet.medical_conditions%>">
        </textarea>
    </div>


</div>

        <button type="submit" value="Submit">Save Pet</button>

  </form>
<br>
<form action="/pets/<%=@pet.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove Pet">
</form>