<div>
<h1>Your All Star Pet</h1>

<h2><%=@pet.name.capitalize%></h2>

<p>
    Type: <%=@pet.type%><br>
    Age: <%=@pet.age%><br>
    Weight: <%=@pet.weight%><%=@pet.wunits%><br>
    Breed: <%=@pet.breed%><br>
    Gender: <%=@pet.gender%><br>
    Spayed/Neutered?:
    <% if @pet.neutered_spayed %>
        <%= "Yes" %>
    <% else %>
    <%= "No" %>
    <% end %><br>
    Medical Conditions: <%=@pet.medical_conditions%>
</p>


















<a href="/pets/<%=@pet.id%>/edit" class="btn btn-primary">Edit pet</a>
</div>