<h2>New SMTM All Star Lineup</h2>
<form action="/lineups" method="POST">


<label for="lineup_name">All Star Lineup Name:</label>
<input type="text" name="lineup[name]" required>
    <div class="artist_selection">

    <li><label for="artist_pick1">First Selection:</label>
        <select id="artist_box" name="artist_id">
            <% @artists.each do |artist| %>
                <option value="<%=artist.id%>">
                    <%= artist.name %>
                </option>
                <% end %>
        </select>
        <button onclick="removeOption(); ">
            Add artist
        </button>
    <li><label for="artist_pick2">Second Selection:</label>
        <select id="artist_box" name="artist_id">
            <% @artists.each do |artist| %>
                <option value="<%=artist.id%>">
                    <%= artist.name %>
                </option>
                <% end %>
        </select>
        <button onclick="removeOption(); ">
            Add artist
        </button>
    <li><label for="artist_pick3">Third Selection:</label>
        <select id="artist_box" name="artist_id">
            <% @artists.each do |artist| %>
                <option value="<%=artist.id%>">
                    <%= artist.name %>
                </option>
                <% end %>
        </select>
        <button onclick="removeOption(); ">
            Add artist
        </button>
    <li><label for="artist_pick4">Last Selection:</label>
        <select id="artist_box" name="artist_id">
            <% @artists.each do |artist| %>
                <option value="<%=artist.id%>">
                    <%= artist.name %>
                </option>
                <% end %>
        </select>
        <button type="reload" onclick="removeOption()">
            Add artist
        </button>
    </div>

        <button type="submit" value="Submit">Save Lineup</button>
        <button type="reset" value="Reset">Reset</button>
</form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script type="text/javascript">
        function removeOption() {
            $("#artist_box option[value='optionValue']").remove();
        }
    </script>
